        <footer class="editContent">
            <div class="container">
                <div class="row footer-top">
                    <div class="col-lg-8 footer-right">
                        <div class="col-6 col-md">
                            <h5>Обратная связь</h5>
                                <ul class="list-unstyled text-small">
                                    <li><a class="text-muted" href="#">E-mail</a></li>
                                    <li><a class="text-muted" href="#">Instagram</a></li>
                                    <li><a class="text-muted" href="#">telegram</a></li>
                        </div>
                        <p>© 2022</p>

                    </div>
                </div>
            </div>
        </footer