<header class="header">
    <div class="container-fluid px-lg-5">
        <nav class="py-4">
            <div id="logo">
                <h1><a href="{% url 'home' %}" class="editContent"
                       style="outline: none; outline-offset: -2px; cursor: inherit; color: rgb(255, 255, 255); font-size: 40px; background-color: rgba(0, 0, 0, 0); font-family: Source Sans Pro;, sans-serif;">Anime G</a>
                </h1>
            </div>
            <label for="drop" class="toggle">Menu</label>
            <input type="checkbox" id="drop">
            <ul class="menu mt-2">
                <li class="active"><a href="{% url 'home' %}">Главная</a></li>
            </ul>
            <li>
                    {% if user.is_authenticated %}
                        <span>{{ user.username }}</span>
                        <a href="{% url 'account_logout' %}"
                           style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">
                            Выход
                        </a>
                    {% else %}
                        <a href="{% url 'account_login' %}"
                           style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">
                            Вход
                        </a>
                         <a href="{% url 'account_signup' %}"
                           style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">
                            Регистрация
                        </a>
                    {% endif %}
                </li>
        </nav>
</header>
<div class="banner-info">
    <h3 class="mb-4 editContent">Все об аниме</h3>
    <p class="editContent">и больше</p>
    <div class="ban-buttons">
    </div>
</div>